@import "../mixins";

.cube-grid {
  width: 40px;
  height: 40px;

  @include flex-container();
  flex-wrap: wrap;

  $cube-delays: 0.2s, 0.3s, 0.4s, 0.1s, 0.2s, 0.3s, 0s, 0.1s, 0.2s;

  @for $i from 1 through 9 {
    .cube#{$i} {
      width: 33%;
      height: 33%;
      background-color: #ff0dff;
      animation: cubeGridScaleDelay 1.3s infinite ease-in-out;
      animation-delay: nth($cube-delays, $i);
    }
  }
}
@keyframes cubeGridScaleDelay {
  0%,
  70%,
  100% {
    transform: scale3d(1, 1, 1);
  }
  35% {
    transform: scale3d(0, 0, 1);
  }
}
